.login-wrapper {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 44px 65px;
  box-shadow: 0 1px 1px rgba(97,127,152,.2), 1px 0 0 rgba(97,127,152,.1), -1px 0 0 rgba(97,127,152,.1);
}

.login-header {
  margin-bottom: 20px;
}

.login-description {
  font-size: 12px;
  color: #999999;
  margin-bottom: 30px;
}

.login-label {
  color: #999999;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 30px;
  display: block;
}

.login-label input {
  margin-top: 5px;
  display: block;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: 0;
  border-bottom: 1px solid #e6e6e6;
  font-size: 12px;
}

.login-label input:focus {
  outline: none;
  border-color: #6bace1;
}

.login-submit {
  color: #5682a3;
  cursor: pointer;
  border: none;
  background-color: transparent;
  float: right;
}