body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 100vh;
}

.hero {
  padding: 8px 16px;
  cursor: pointer;
}

.container {
  display: flex;
}

.col {
  padding: 0 15px;
}

.label {
  padding: 8px 16px;
}