.App {
    text-align: left;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.task {
    margin-top: 40px;
    border-top: 1px dotted black;
}

.user-task {
    border-bottom: 1px solid #9da0a4;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

table {
    width: 100%;
}

table input {
    width: 99%;
}

td {
    border: 1px solid black;
    padding: 1px;
}
