body {
    text-align: center;
    background-color: #333333;
}

img {
    max-height: 100vh;
    max-width: 100vw;
}

span {
    color: white;
    font-size: 45px;
}

.family-role {
    color: red;
    background: yellow;
}